@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* Style-ul pentru bara de navigare si butoanele de login si register(Andreea)*/
.site-logo {
    transition: 1s ease;
}
.site-logo:hover {
    border: 1px solid #f00;
    border-radius: 50%;
    transition: 1s ease;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: #4d4d4d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    color: #54dbff;
}

li a:hover.button{
    color: white;
    background-color: #29a0a2;
}

a:hover.button{
    color: white;
    background-color: #29a0a2;
}

.active{
    color: #4CAF50;
}

.button{
    background-color: red;
    border-radius: 15px;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.big{
    font-size: 16px;
    padding: 14px 50px;
}

#header {
    background: #fff;
    color: #555f66;
    cursor: default;
    height: 3em;
    left: 0;
    line-height: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    border-radius: 6px;
    display: inline-block;
    margin-left: 2em;
    padding-left: 0;
}

#header nav > ul > li a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #555f66;
    display: inline-block;
    text-decoration: none;
}

#header nav > ul > li a:hover.button {
    color: white;
}

#header nav > ul > li a.button {
    color: white;
}

#header nav > ul > li a:hover:not(.button) {
    color: #54dbff;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header h1 {
    color: #666f77;
    font-weight: 500;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    margin-top:2px;
}

/* (Luci)
Culoarea de background generic si importarea fontului   */

body {
    margin: 0px;
    background: #49d0a2; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #49d0a2, #8DC26F);
    background: -moz-linear-gradient(right, #49d0a2, #8DC26F);
    background: -o-linear-gradient(right, #49d0a2, #8DC26F);
    background: linear-gradient(to left, #49d0a2, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/*Clasele pentru paginile login/register */

.signIU-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

/*Butonul de creare/inregistrare cont nou*/
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0cd47c;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;

    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #29a0a2;
}

/* Mesaj simplu de culoare sur */
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
}

/* Mesaj cu importanta ridicata de culoare rosie */
.form .message a {
    color: #c90000;
    font-weight: lighter;
    text-decoration: none;
}
/*Back button*/
.Button {
    border-radius:15px;
    border:1px solid white;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:15px 18px;
    text-decoration:none;
    background-color:#a9aeb2;
    margin-top:5%;
    margin-left:5%;
}

.Button:hover{

    background-color:#72828e;
}


/* Prima sectiune a paginii Home */
#first-section{
    background-color: #666666;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 15% 0;
    text-align: center;
    position: relative;
}
.inner:after{
   width: 100%;
   height: 300%;
   top: -85%;
   left: 0;
   position: absolute;
   z-index: -1;
   content: "";
   background: url(../images/suggestion_box.jpg);
   background-size: cover;
   opacity: 0.1;
}
/* A doua sectiune a paginii Home */
#second-section{
    background-color: #29a0a2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #938d92;
    padding: 23% 0;
    text-align: center;
    position: relative;
}

#first-section .inner {
    position: relative;
    z-index: 1;
}
#first-section .inner :last-child {
    margin-bottom: 0;
}

#first-section h2 {
    font-size: 3.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;

}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}


.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.icon.major {
    display: inline-block;
    margin: 0 0 10% 0;
    margin-top:10%;
    color: red;
    background: #629DD1;
    width: 3em;
    height: 3em;
    font-size: 2em;
    text-align: center;
    line-height: 3em;
    border-radius: 100%;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgba(144, 144, 144, 0.25);
    background-repeat: no-repeat;
    background-position: center;
}

.icon.simplestatistics {
    background-image: url(../images/statistics.png);
    transition: 0.5s ease;
}

.icon.simplestatistics:hover{
    transform: rotateY(180deg);
    box-shadow: 0 0 0 10px #DADFF7, 0 0 0 11px rgba(144, 144, 144, 0.25); /* #29a265 */
    transition: 1s ease;
}

.icon.simplerefresh{
    background-image: url(../images/refresh.png);
    transition: 0.5s ease;
}
.icon.simplerefresh:hover{
    transform: rotateZ(80deg);
    box-shadow: 0 0 0 10px #29A0A2, 0 0 0 11px rgba(144, 144, 144, 0.25); /* #ffe149 */
    transition: 1s ease-in-out;

}

.icon.simplecog{
    background-image: url(../images/cog.png);
    transition: 0.5s ease
}

.icon.simplecog:hover{
    transform: rotateZ(180deg);
    box-shadow: 0 0 0 10px #232C33, 0 0 0 11px rgba(144, 144, 144, 0.25); /* #f77a20 */
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /*out quadratic @ Chrome*/
}

.wrapper {
    padding: 6em 0 4em 0;
}

.wrapper.style1 {
    background: #fff;
    color: #555f66;
}


#left{
    width: 300px;
    height: 400px;
    background-color: #f7f0f6;
    position: absolute;
    overflow: hidden;
    margin-top:-66%;
    margin-left: -150%;
    border-radius:12%;

}

#middle{
    width: 300px;
    height: 400px;
    background-color: #f7f0f6;
    position: absolute;
    overflow: hidden;
    margin-top: -66%;
    margin-left: 0%;
    border-radius:12%;

}

#right{
    width: 300px;
    height: 400px;
    background-color: #f7f0f6;
    position: absolute;
    overflow: hidden;
    margin-top:-66%;
    margin-left: 150%;
    border-radius:12%;


}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

/* A treia sectiune a paginii Home */
#third-section{
    background-color: #666666;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #938d92;
    padding-top:3em;
    text-align: center;
    position: relative;
}

.left-pos{
    margin-left: -220%;
}

.left-pos1{
    margin-top:-50%;
    margin-left: -220%;
}

.left-pos2{
    margin-top:30%;
    margin-left: -220%;
}

.left-pos3{
    margin-top:15%;
    margin-left: -220%;
}

.size-pos{
    height: 40%;
    width: 40%;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container-col12 {
    width: 100%;
    padding-bottom: 10em;
}

/*last container will not leave blank space*/
.container-col12:last-of-type {
    padding-bottom: 5em;
}

.feature-img {

}

.feature-description {
    width: 600px;
    height: 10.5em; /*200px*/
    background-color:#8f93ba;
    overflow: hidden;
    
    margin-left:50%;
    margin-top: -100%;
    padding: 0.5em;

    border-radius:15%;
    border:1px solid #7278af;
}

#text-pos1{
    width: 600px;
    height: 200px;
    background-color:#8f93ba;
    overflow: hidden;
    margin-top:-80%;
    margin-left:50%;
    border-radius:15%;
    border:1px solid #7278af;
}

#text-pos2{
    width: 600px;
    height: 200px;
    background-color:#8f93ba;
    overflow: hidden;
    margin-top:-70%;
    margin-left:50%;
    border-radius:15%;
    border:1px solid #7278af;
}

#text-pos3{
    width: 600px;
    height: 200px;
    background-color:#8f93ba;
    overflow: hidden;
    margin-top:-70%;
    margin-left:50%;
    border-radius:15%;
    border:1px solid #7278af;
}

.text-style{
    font-size: 20px;
    color:white;
    font-weight: bold;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

#footer{
    background:#c9cfd8;
    padding: 20px 0 20px 0;
}

.copyright {
    font: 15px 'Montserrat', sans-serif;
    color:#3f4349;
    text-align:center;
}
.copyright a{
    text-decoration: none;
}

#footer-icon2{
    width:50px;
    height:50px;
    margin-left:48%;
}
/* stilul pentru pagina de contact us*/
#form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:3%;
    padding-right: 3%;
    padding-top:5%;
    padding-bottom:2%;
    width: 450px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: "Roboto", sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Contact Us Icons ---------------------------------- */
#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 25px 25px;
    background-position: 450px 8px;
    background-repeat: no-repeat;

}

#name:focus{
    background-image:none;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 450px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: none;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 450px 8px;
    background-repeat: no-repeat;
}
#comment:focus {
    background-image: none;
}

.button-blue{
    font-family: "Roboto", sans-serif;
    float: none;
    width: 20%;
    border: #fbfbfb solid 3px;
    border-radius: 20px;
    cursor: pointer;
    background-color:#238DA2;
    color:white;
    font-size:13px;
    padding-top:3%;
    padding-bottom:3%;
    margin-top:-2px;
    font-weight: 500;
}

.button-blue:hover{
    background-color: #3f4349;

}

#div_form{
    background-color:rgba(72,72,72,0.4);
    padding-left:3%;
    padding-right: 3%;
    padding-top:5%;
    padding-bottom:2%;
    width: 700px;
    height:700px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -400px;
}

#box_form{
    background-color: white;
    padding-left:3%;
    padding-right: 3%;
    padding-top:2%;
    padding-bottom:3%;
    width: 500px;
    height:600px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -270px;
    text-align:left;
}
h1_form{
    font-family: "Roboto", sans-serif;
    font-size: medium;
}
.input_form{
    width:500px;
    height:50px;
    border:1px solid #2afdff;
}
.textarea_form{
    width:500px;
    height:150px;
    border:1px solid #2afdff;
}

/*Codul de mai jos e folosit la crearea unui nou chestionar */
.title_description {
    margin-top: 55px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 55px;
    background-color: transparent;

}

#q_title {
    width: 540px;
    height: 50px;
    font-size: large;
}
#q_description {
    width: 150px;
    height: 100px;
    font-size: medium;
}

#q_tags {
    width: 550px;
    height: 50px;
    font-size: medium;
}

.q_button {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.q_button.plus{
    background-image: url("../images/plus-sign.png");
}

.q_button.questionmrk{
    background-image: url("../images/question mark.png");
}

.q_button.questionrbtn{
    background-image: url("../images/question rbuttons.png");
}

.q_button.numbersrbtn{
    background-image: url("../images/numbers rbuttons.png");
}

.q_button.questioncbtn{
    background-image: url("../images/question cbuttons.png");
}

#finish{
    position: relative;
    padding-left: 66%;
}

#adding_questions{
    margin-top: 110px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 110px;
    background-color: transparent;

}

.q_question{
    width: 300px;
    height: 30px;
    font-size: medium;
}

.q_question.simple{

}

.q_question.radio{

}

.q_question.checkbox{

}

.q_question.numbers{

}

/*finished form */
#social_sharing_facebook{
    width: 45px;
    height: 45px;
}

#social_sharing_twitter{
    padding-bottom: 6px;
    width: 35px;
    height: 35px;
}
/*stilul pentru setings*/

#change_pass{
    background-color: transparent;
    width: 400px;
    height:400px;
    float: left;
    left: 0%;
    position: absolute;
    margin-top:5%;
    margin-left: 80px;
    text-align:left;
}

#change_email{
    background-color: transparent;
    width: 400px;
    height:400px;
    float: none;
    left: 60%;
    position: absolute;
    margin-top:5%;
    margin-left:-200px;
    text-align:left;
}

#account_info{
    background-color: transparent;
    width: 300px;
    height:400px;
    float: right;
    right:0%;
    position: absolute;
    margin-top:5%;
    margin-right:0px;
    text-align:left;
}

.input_form.small{
    width: 250px;
    height: 25px;

}
.button-blue.small{
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: #fbfbfb solid 1px ;
}

/*generic form detail*/

#q_details{
    margin-top: 10%;
    margin-left: 30%;
}

/*my questionary*/

#questionnaire_list{
    font-family: Roboto;
    margin-top: 10%;
    margin-left: 25%;
    font-size: medium;
    border: 2px solid cornflowerblue;
    padding: 4%;

}

.questionnaire_list_items{
    padding-right: 100px;
}

/* About page */
#about-title{
    width: 80%;
    height: 20px;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    padding: 5%;
    margin-top: -3%;
    margin-left: 0%;
    font-family:"Times New Roman", Georgia,SANS-SERIF;
    font-size:20px;

}

#about-section-title{
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    padding: 5%;
    text-align: center;
    position: relative;
}


#about-section{
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    padding: 20%;
    text-align: center;
    position: relative;
}

#about_left{
    width: 300px;
    height: 400px;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    margin-top:-66%;
    margin-left: -150%;

}

#about_middle{
    width: 300px;
    height: 400px;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    margin-top: -66%;
    margin-left: 0%;

}

#about_right{
    width: 300px;
    height: 400px;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    margin-top:-66%;
    margin-left: 150%;

}
.style_image{
    width:128px;
    height:128px;
    border-radius: 50%;
    display: block;
     margin: auto; 
     margin-top: 10%;
}
.footer-icon3{
    width:40px;
    height:40px;
    margin-left:0%;
}

.footer-icon4{
    width:40px;
    height:40px;
    margin-left:-2%;
}
.footer-icon5{
    width:40px;
    height:40px;
    margin-left:2%;
}
.container2 {
    position:absolute;
    z-index: 1;
    width:300px;
    height:500px;
    background-color:#aaff80;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;

}
@-webkit-keyframes mymove {
    from {background-color:#aaff80;}
    to {background-color:#99ccff;}
}
.about_txt{
         font-size:17px;
        font-weight: bold;
}

